.icon {
  height: 2rem;
  vertical-align: middle;
  margin-top: -.3rem;
}

.hidden {
  display: none;
}

.input-form {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
  width: 100%;
}

input {
  appearance: none;
  background: var(--background);
  border: 1pt solid var(--foreground);
  border-radius: 5px;
  color: var(--foreground);
  flex-grow: 1;
  padding: .5rem calc(1em + 1px);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem;
}

button {
  border: none;
  border-radius: 5px;
  display: block;
  padding: .5rem 1.5rem;
  font-size: .9rem;
}

.text {
  background: none;
  color: var(--foreground);
  transition: all .2s;
}

.text:hover {
  background: #fff2;
}

#login-error, #signup-error {
  color: #e53935;
}

h2 {
  margin-top: 0;
}

#account-info {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#signout:focus {
  outline: none;
}
